<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/currencies"></ion-back-button>
    </ion-buttons>
    <ion-title>Currency Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label>Volume: $ {{ volume }}</ion-label>
  <div style="text-align: center">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</ion-content>
